body {
    background-color: rgba(70, 89, 110, 0.555);
  }

p {
    text-align: center;
    color: black;
}

button {
    text-align: center;
    padding: 10px;
}


.container {
    display: grid ;
    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows: [row1-start] 100px [row1-end] 100px [third-line] auto [last-line];
}

.item_a {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: row1-start;
    grid-row-end: 2;
    margin: auto;
}
.item_b {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: row1-end;
    grid-row-end: 3;
}